@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Berkshire+Swash&family=Caveat:wght@700&family=Delius+Unicase:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Rubik+Mono+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #3b1212;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

#head{
    width: 100vw;
    text-align: center;
    background-color: rgb(0, 0, 0);
    line-height: 100px;
}

#menuicon{
    position: absolute;
    top: 1vh;
    right: 1vw;
}

h1{
    color:white;
    font-size: 3vw;
    font-family: 'Berkshire Swash', cursive;
}

main{
    margin-top: 12vh;
}

h2{
    color: white;
    font-size: calc(20px + 3vw);
    /*font-family: 'Josefin Sans', sans-serif;*/
    font-family: 'Rubik Mono One', sans-serif;
    text-align: center;
}

.countdown {
    display: flex;
    width: 60vw;
    justify-content: space-between;
    flex-wrap: wrap;
}

.countdown h1 {
    font-size: calc(10px + 8vw);
    text-shadow: 0 0 10px whitesmoke;
}

.countdown p {
    color: whitesmoke;
}

.startButton {
    margin-top: 17vw;
}

#button {
    width: 90px;
    height: 35px;
    font-size: 18pt;
    font-family: 'Amatic SC', cursive;
    background-color: #996E6E;
    color: white;
    border-radius: 10px;
    border: none;
}

#button:hover {
    width: 90px;
    height: 35px;
    font-size: 18pt;
    font-family: 'Amatic SC', cursive;
    background-color: #000000;
    color: white;
    border-radius: 10px;
    border: white 1px solid;
    transition: 0.3s;
}

.settings {
    position: absolute;
    bottom: 1.2vh;
    left: 1vw;
}

.config {
    width: calc(20px + 2vw);
}

.config:hover {
    filter: invert();
    transition: 0.3s;
}

@media(max-width:1370px){
    .startButton {
        margin-top: 9vw;
    }
}

@media(max-width:480px){

}