@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Berkshire+Swash&family=Caveat:wght@700&family=Delius+Unicase:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Rubik+Mono+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #3b1212;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

#head{
    width: 100vw;
    text-align: center;
    background-color: rgb(0, 0, 0);
    line-height: 100px;
}

#menuicon{
    position: absolute;
    top: 1vh;
    right: 1vw;
}

h1{
    color:white;
    font-size: 3vw;
    font-family: 'Berkshire Swash', cursive;
}

main{
    margin-top: 12vh;
}

h2{
    color: white;
    font-size: calc(20px + 3vw);
    /*font-family: 'Josefin Sans', sans-serif;*/
    font-family: 'Rubik Mono One', sans-serif;
    text-align: center;
}

.countdown {
    display: flex;
    width: 60vw;
    justify-content: space-between;
    flex-wrap: wrap;
}

.countdown h1 {
    font-size: calc(10px + 8vw);
    text-shadow: 0 0 10px whitesmoke;
}

.countdown p {
    color: whitesmoke;
}

.startButton {
    margin-top: 17vw;
}

#button {
    width: 90px;
    height: 35px;
    font-size: 18pt;
    font-family: 'Amatic SC', cursive;
    background-color: #996E6E;
    color: white;
    border-radius: 10px;
    border: none;
    cursor:pointer;
}

#button:hover {
    width: 90px;
    height: 35px;
    font-size: 18pt;
    font-family: 'Amatic SC', cursive;
    background-color: #000000;
    color: white;
    border-radius: 10px;
    border: white 1px solid;
    transition: 0.3s;
}

.settings {
    position: absolute;
    bottom: 1.2vh;
    left: 1vw;
    cursor:pointer;
}

.config {
    width: calc(20px + 2vw);
}

.config:hover {
    filter: invert();
    transition: 0.3s;
}



/*CSS MODAL*/

.modal-container {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-color: #3b1919a8;
    top: 0vh;
    left: 0vw;
    z-index: 2000;
}

.modal-container.mostrar {
    display: flex;
}

.modal {
    width: 30vw;
    height: 25vh;
    top: 40vh;
    left: 35vw;
    background: #1a0303;
    border-radius: 10px;
    box-shadow: 0 5px 10px 5px rgba(255, 255, 255, 0.548);
}

@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.mostrar .modal {
    animation: modal .3s;
}

.closeButton {
    float: right;
    margin-right: 0.2vw;
    margin-top: -4.6vh;
    width: 18px;
    border:#9b9b9b solid 1px;
    border-radius: 100px;
    padding-bottom: 1px;
    font-weight: bolder;
    cursor:pointer;
}

.closeButton:hover{
    background-color: rgb(36, 0, 0);
    color: white;
    transition: 0.2s;
}

.subtitulo{
    font-size: calc(10px + 0.7vw);
    color: whitesmoke;
    margin-bottom: 4vh;
    margin-top: -5vh;
    background-color: rgb(14, 1, 1);
    box-shadow: 0 -5px 10px 2px rgba(255, 255, 255, 0.548);
    border-radius: 10px;
    width: 30vw;
    height: 4.2vh;
    padding-top: 6px;
}

.input{
    border-radius: 5px;
    text-align: center;
}

.titleInput{
    width: 11vw;
    height: 3vh;
}

.timeInput{
    width: 11vw;
    height: 3vh;
}

.paragrafo{
    font-size: calc(10px + 0.5vw);
    color: white;
}

.observacao{
    font-size: calc(8px + 0.3vw);
    color: #a5a5a5;
    margin-bottom: 20px;
}

.button{
    color: #000000; 
    background-color: #ffffff;
    border:#9b9b9b solid 1px;
    width: 50px;
    height: 25px;
    border-radius: 20px;
    float: right;
    margin-bottom: -16px;
    margin-right: 5px;
    font-weight: bolder;
    cursor:pointer;
}

.button:hover {
    background-color:#000000;
    color: white;
    border:#181818 solid 1px;
    transition: 0.2s;
}

@media(max-width:1370px){
    .startButton {
        margin-top: 9vw;
    }
    .subtitulo{
        padding-top: 0px;
    }
}

@media(max-width:480px){

}