@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #3b1212;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    /*height: 100vh;*/
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

#head{
    width: 100vw;
    text-align: center;
    background-color: rgb(0, 0, 0);
    line-height: 100px;
}

#menuicon{
    position: absolute;
    top: 1vh;
    right: 1vw;
}

h1{
    color:white;
    font-size: calc(20px + 2.5vw);
    font-family: 'Berkshire Swash', cursive;
}

main{
    margin-top:18vh;
}

.countdown {
    display: flex;
    width: 60vw;
    justify-content: space-between;
    flex-wrap: wrap;
}

.countdown h1 {
    font-size: calc(10px + 8vw);
    text-shadow: 0 0 10px whitesmoke;
}

.countdown p {
    color: whitesmoke;
}

#buttons{
    display: inline-flex;
    margin-top:15vh;
}

.button{
    width: 6vw;
    height: 5vh;
    font-size: calc(12px + 0.5vw);
    font-family: 'Amatic SC', cursive;
    background-color: #996E6E;
    color: white;
    border-radius: 10px;
    border: none;
    margin-right: 2vw;
    margin-left: 2vw;
    cursor: pointer;
}

.button:hover{
    width: 6vw;
    height: 5vh;
    font-size: calc(12px + 0.5vw);
    font-family: 'Amatic SC', cursive;
    background-color: #000000;
    color: white;
    border-radius: 10px;
    border: white 1px solid;
    transition: 0.3s;
}

@media(max-width:1370px){
    
}

@media(max-width:480px){
    .button{
        width: 14vw;
        height: 5vh;
        font-size: calc(12px + 0.5vw);
        font-family: 'Amatic SC', cursive;
        background-color: #996E6E;
        color: white;
        border-radius: 10px;
        border: none;
        margin-right: 2vw;
        margin-left: 2vw;
        padding-bottom: 1px;
    }
    
    .button:hover{
        width: 14vw;
        height: 5vh;
        font-size: calc(12px + 0.5vw);
        font-family: 'Amatic SC', cursive;
        background-color: #996E6E;
        color: white;
        border-radius: 10px;
        border: none;
        margin-right: 2vw;
        margin-left: 2vw;
        padding-bottom: 1px;
    }
}