/*CSS MENU*/

#menuicon-img:hover{
    filter: invert(30%);
    transition: filter .5s;
    cursor: pointer;
}

.menu-container {
    position: fixed;
    display: none;
    justify-content: flex-end;
    align-items: top;
    text-align: center;
    width: 100vw;
    height: 100vh;
    top: 10.6vh;
    right: 0vw;
    z-index: 3000;
}

.menu-container.mostrar-menu {
    display: flex;
}

.menu {
    width: 12vw;
    height: 20.5vh;
    background: #000000;
}

@keyframes menu {
    from {
        opacity: 0;
        transform: translate3d(100px, 0, 0px);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.mostrar-menu .menu {
    animation: menu .3s;
}

#navigation{
    /*font-family: 'Caveat', cursive;*/
    /*font-family: 'Amatic SC', cursive;*/
    font-family: 'Delius Unicase', cursive;
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
    font-size: calc(10px + 0.4vw);
    text-shadow: rgb(46, 46, 46) 2px 2px 4px;
}

a :hover{
    color: #832121;
}

li {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: #585858 solid 1px;
    border-left: #585858 solid 1px;
}

#pomodoroLink {
    border-top: #0a0a0a solid 1px;
}

@media(max-width:1370px){
    .menu-container {
        top: 15.7vh;   
    }

    .menu {
        width: 14vw;
        height: 30vh;
    }
}

@media(max-width:480px){    
    .menu-container {
        top: 15.6vh; 
    }

    .menu {
        width: 40vw;
        height: 27vh;
    }
}