/*CSS MENU*/
#mainTitle{
    cursor: default;
}
#mainTitle :hover{
    color: white;
}

#menuicon-img:hover{
    filter: invert(30%);
    transition: filter .5s;
    cursor: pointer;
}

.menu-container {
    position: absolute;
    display: none;
    justify-content: flex-end;
    align-items: top;
    text-align: center;
    /*top: 10.6vh;*/
    top: 100px;
    right: 0vw;
    z-index: 1000;
}

.menu-container.mostrar-menu {
    display: flex;
}

.menu {
    width: calc(90px + 10vw);
    height: 44.8vh;
    background: #000000;
}

@keyframes menu {
    from {
        opacity: 0;
        transform: translate3d(100px, 0, 0px);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.mostrar-menu .menu {
    animation: menu .3s;
}

#navigation{
    /*font-family: 'Caveat', cursive;*/
    /*font-family: 'Amatic SC', cursive;*/
    font-family: 'Delius Unicase', cursive;
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
    font-size: calc(10px + 0.4vw);
    text-shadow: rgb(46, 46, 46) 2px 2px 4px;
}

a :hover{
    color: rgb(129, 89, 83)
}

li {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: #585858 solid 1px;
    border-left: #585858 solid 1px;
}

#pomodoroLink {
    border-top: #0a0a0a solid 1px;
}

@media(max-width:1370px) and (max-height:900px){
    .menu-container {
        /*top: 15.7vh;*/   
        top: 100px;
    }

    .menu {
        width: 18vw;
        height: 57.2vh;
    }

    li {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media(max-width:480px){    
    .menu-container {
        /*top: 15.6vh;*/
        top: 100px;
    }

    .menu {
        width: 40vw;
        height: 27vh;
    }
}