@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Berkshire+Swash&family=Caveat:wght@700&family=Delius+Unicase:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Rubik+Mono+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #3b1212;
}

.container {
    display: flex;
    flex-direction: column;
    width: 99vw;
    height: 77vh;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

#head{
    width: 100vw;
    text-align: center;
    background-color: rgb(0, 0, 0);
    line-height: 100px;
}

#menuicon{
    position: absolute;
    top: 1vh;
    right: 1vw;
}

h1{
    color:white;
    font-size: calc(20px + 2.5vw);
    font-family: 'Berkshire Swash', cursive;
}

main{
    margin-top: 12vh;
}

.countdown {
    display: flex;
    width: 60vw;
    justify-content: space-between;
    flex-wrap: wrap;
}

.countdown h1 {
    font-size: calc(10px + 8vw);
    text-shadow: 0 0 10px whitesmoke;
}

.countdown p {
    color: whitesmoke;
}

.frase{
    font-size: calc(20px + 1.5vw);
    text-align: center;
    padding-right: 10px;
    font-family: 'Caveat', cursive;
    color: white;
}

.sessions{
    font-size: 22px;
    text-align: center;
    padding-top: 300px;
    color: white;
}

.settings {
    position: absolute;
    bottom: 1.2vh;
    left: 1vw;
    cursor: pointer;
}

.config {
    width: calc(20px + 2vw);
}

.config:hover {
    filter: invert();
    transition: 0.3s;
}

@media(max-width:1370px) and (max-height:900px){
    .sessions{
        font-size: 20px;
        padding-top: 200px;
    }
    
    .container {
        height: 72vh;     
    }
}

@media(max-width:480px){
    
}
